.div-ele{
    width: 360px
}

th{
	font-weight: normal;
    color: grey;
    font-size: small;
}

.div-light-state {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.state-green {
    background: green;
}
.state-red {
    background: red;
}